.back {
  background: #293B29 0% 0% no-repeat padding-box;
}
.hand {
  position: absolute;
  transform-origin: right;
  /* 以右邊為軸心旋轉 */
}

.clock {
  width: 350px;
  /* max-height:350px; */
  margin: 225px 465px;
  position: relative;
  border-radius: 25%;
  background-color: #3d5a45;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-hand {
  height: 12px;
  width: 124px;
  right: 50%; 
  /* 用絕對定位 50%把指針推到圓心 */
  background: transparent url('./img/second-hand/second-hand.png') 0% 0% no-repeat padding-box;
  align-items: center;
  opacity: 1;
}

.min-hand {
  background-color: #ff7700;
  width: 96px;
  right: 50%;
  height: 8px;
  border-radius: 30px;
  align-items: center;
}

.hour-hand {
  background-color: white;
  width: 72px;
  right: 50%;
  height: 8px;
  border-radius: 30px;
  align-items: center;
}

.clock-face {
  width: 310px;
  height:310px;
  background-color: #293B29;
  border-radius: 50%;
  margin: 20px;
  justify-content: center;
  align-items: center;

}


.star {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #FF7600;
  /* 橘色 */
  clip-path: polygon(50% 0%, 71% 24%, 98% 35%, 68% 57%, 50% 84%, 33% 61%, 2% 35%, 30% 23%);

}

.line {
  position: absolute;
  border: 0.5px solid #FF7600;
  /* width: "300px", */


  
}
